services:
  # 1. Identity Service Database (Relational)
  identity-db:
    image: postgres:18.1
    container_name: smart_office_identity_db
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-userDB1234}
      POSTGRES_DB: IdentityDb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  # 2. Resource Management Database (NoSQL)
  resource-db:
    image: mongo:8.2.3
    container_name: smart_office_resource_db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER:-postgres}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD:-userDB1234}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend-api:
    build:
      context: ./backend/API
      dockerfile: Dockerfile
    container_name: smart_office_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      # Use the container names 'identity-db' and 'resource-db' as hosts
      - ConnectionStrings__DefaultConnection=Host=identity-db;Port=5432;Database=IdentityDb;Username=${DB_USER:-postgres};Password=${DB_PASSWORD:-userDB1234}
      - MongoDB__ConnectionString=mongodb://${DB_USER:-postgres}:${DB_PASSWORD:-userDB1234}@resource-db:27017
    ports:
      - "7061:8080" # Maps your 7061 to .NET 9's default 8080
    depends_on:
      - identity-db
      - resource-db
      
  frontend-ui:
    build:
      context: ./frontend/client-app
      dockerfile: Dockerfile
    container_name: smart_office_ui
    ports:
      - "3000:80" # Maps standard React port 3000 to Nginx port 80
    depends_on:
      - backend-api

volumes:
  postgres_data:
  mongo_data: